@model ProductsListModel

@{
    ViewData["Title"] = "Products";
}

<div class="mx-auto">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add new product</a>
</div>

@if (Model.Products != null && Model.Products.Count > 0)
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Prezzo</th>
            <th>Descrizione</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Category?.Title</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Description</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Modifica</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}




